.event-khung {
  top: 200px;
  left: 138px;
  width: 1240px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.event-event1 {
  top: 200px;
  left: 138px;
  width: 290px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 20;
  border-radius: 30px;
  margin-bottom: 0;
  background-color: white;
}


.event-rectangle1 {
  width: 100%;

  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 16px;
}

.event-text02 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 10;
  text-decoration: none;
  margin-left: 20;
}

.event-text04 {
  color: rgba(108, 114, 114, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 26px;
  margin-right: 0;
  margin-bottom: 10;
  margin-left: 20;
}

.event-time {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 10;
  width: 300px;
  margin-left: 20;
}

.event-iconscalendar {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  margin-right: 4px;
  margin-bottom: 10;
}

.event-text06 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 10;
  text-decoration: none;
  margin-left: 20;
}

.event-text08 {
  color: rgba(250, 125, 9, 1);
  width: 212px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 20px;
  text-decoration: none;
  margin-left: 20;
}

.event-btnxemchitit {
  width: 200px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-left: 20;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 20;
}

.event-previousbtn {
  top: 400px;
  left: 60px;
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 2px 0px rgba(222, 153, 89, 1);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.event-nextbtn {
  top: 400px;
  left: 1400px;
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 2px 0px rgba(222, 153, 89, 1);
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}

.khungchuave {
  top: 200px;
  left: 160px;
  width: 1200px;
  height: 500px;
  position: absolute;
}
.khungchuave1
{
  top: 250px;
  left: 220px;
  width: 1200px;
  height: 500px;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.column1
{
  width: 320px;
  margin-right: 20;
  display: flex;
  flex-direction: column;
}
.column2
{
  width: 250px;
  margin-right: 20;
}
.event-dayleft
{
  top: 80px;
  position: absolute;
  width: 300px;
}
.event-dayright
{
  top: 80px;
  left: 1250px;
  position: absolute;
  width: 300px;
}