.trangch-container {
    min-height: 100vh;
  }
  .trangch-trangch {
    width: 100%;
    height: 750px;
    display: flex;
    overflow: hidden;
    position: relative;

    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 32px;
    background-color: var(--dl-color-default-bg);
  }
  .trangch-frame {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 750px;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .trangch-bg {
    left: 40px;
    width: 1440px;
    height: 850px;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0 0 56px 56px;
    margin-bottom: 0;
    background-color: var(--dl-color-default-bg);
    background-image: linear-gradient(180deg, rgba(255, 181, 72, 1) 0%, rgba(255, 181, 72, 1) 100%);
  }
  .trangch-text {
    top: 100px;
    left: 370px;
    width: 250px;
    border-radius: 20px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 50px;
    align-self: auto;
    text-align: left;
    font-family: Nunito;
    font-weight: 700;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  .trangch-frame03 {
    top: 220px;
    left: 150px;
    width: 1200px;
    height: 500px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .trangch-frame7 {
    top: 87px;
    left: 800px;
    width: 467px;
    height: 374px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .trangch-frame5 {
    top: 0px;
    left: 50px;
    width: 310px;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 10;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .trangch-frame71 {
    top: 60px;
    left: 160px;
    width: 150px;
    height: 50px;
    padding: 8px;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 10;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .trangch-frame8 {
    top: 0px;
    left: 50px;
    width: 370px;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 10;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .trangch-frame6 {
    top: 0px;
    left: 50px;
    width: 150px;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 15;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .trangch-frame06 {
    top: 370px;
    left: 840px;
    width: 300px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .trangch-group57 {
    top: 0px;
    left: 850px;
    width: 284px;
    height: 79.99998474121094px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .trangch-vector108 {

    width: 284px;
    height: 76px;
    position: absolute;
    box-sizing: border-box;
  }
  .trangch-navigation {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 122px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .trangch-vector2 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
  }
  .trangch-group2 {
    top: 29px;
    left: 480px;
    width: 800px;
    height: 50px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .trangch-frame20 {
    top: 0px;
    left: 0px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
  }
  .trangch-tags {
    display: flex;
    padding: 5px 12px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    margin-right: 40px;
    border-radius: 33px;
    margin-bottom: 0;
  }
  .trangch-text35 {
    color: white;
    height: auto;
    font-size: 17px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .trangch-tags1 {
    display: flex;
    padding: 5px 12px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 40px;
    border-radius: 33px;
    margin-bottom: 0;
  }

  .trangch-tags2 {
    display: flex;
    padding: 5px 12px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 33px;
    margin-bottom: 0;
  }

  .trangch-frame22 {
    left: 600px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
    justify-content: center;
  }
  .trangch-group58 {
    width: 32px;
    height: 32px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 8px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .trangch-group59 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .trangch-frame21 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    position: absolute;
    box-sizing: border-box;
  }
  .trangch-text41 {
    color: var(--dl-color-default-w);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
  }
  .trangch-little-little-logongang1 {
    top: 1px;
    left: 201px;
    width: 229px;
    height: 91px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
  }

  .frame03{
top: 50px;
height: 500px;
width: 100%;

  }
  .button-dropdown
  {
    left: 165px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 15px 15px 15px 15px;
    background-color: unset;
  }
  .button-dropdown1
  {
    left: 320px;
    width: 50px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
  }
  .div-dropdown
  {
    left: 150px;
    width:200px;
    height: auto;
    position: absolute;
  }
  .button-lich
  {
    top: 60px;
    left: 320px;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 15px 15px 15px 15px;
  }
  .pay-frame
  {
    top: 180px;
    left: 180px;
    width: 1200px;
    height: 600px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .pay-frame-bg
  {
    top: 130px;
    left: 180px;
    width: 1200px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .pay-infopay {
    left: 830px;
    width: 300px;
    height: 79.99998474121094px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .pay-ticket {
    left: 100px;
    width: 300px;
    height: 79.99998474121094px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .ticket-row1
  {
    left: 50px;
    top: 100px;
    width: 660px;
    height: 50px;
    margin-bottom: 30;
    display: flex;
    flex-direction: row;
  }
  .ticket-row1-1
  {

    top: 100px;
    width: 220px;
    height: 50px;
    margin-bottom: 10;
    display: flex;
    flex-direction: column;
  }
  .ticket-row1-2
  {
    top: 100px;
    width: 150px;
    height: 50px;
    margin-bottom: 10;
    display: flex;
    flex-direction: column;
    margin-right: 15;
  }

  .ticket-row1-3
  {

    top: 100px;
    width: 300px;
    height: 50px;
    margin-bottom: 10;
    display: flex;
    flex-direction: column;
  }
  .ticket-row2
  {
    left: 50px;
    width: 600px;
    height: 50px;
    margin-bottom: 30;
    display: flex;
    flex-direction: column;
  }
  .ticket-row3
  {
    left: 50px;
    width: 600px;
    height: 50px;
    margin-bottom: 30;
    display: flex;
    flex-direction: column;
  }
  .ticket-row4
  {
    left: 50px;
    width: 600px;
    height: 50px;
    display: flex;
    flex-direction: column;
  }
  .pay-input1 {
    top: 0px;
    left: 50px;
    width: 200px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-right: 15;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .pay-input1-1 {
    top: 0px;
    width: 150px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-right: 15;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .pay-input1-2 {
    top: 0px;
    width: 200px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-right: 15;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .pay-input2 {
    top: 0px;
    left: 50px;
    width: 350px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 10;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .pay-input3 {
    top: 0px;
    left: 50px;
    width: 350px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 15;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .pay-input4 {
    top: 0px;
    left: 50px;
    width: 350px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 15;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }

  .ticket-text
  {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10;
  }
  .pay-inside-frame
  {
    top: 80px;
    left: 50px;
    width: 600px;
    height: 600px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .pay-right-frame
  {
    top: 80px;
    left: 810px;
    width: 400px;
    height: 600px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .pay-input5 {
    top: 0px;
    left: 50px;
    width: 300px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 10;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .pay-input6 {
    top: 0px;
    left: 50px;
    width: 100px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 10;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    justify-content: space-between;
    background-color: var(--dl-color-default-w);
  }
  .pay-lich
  {
    top: 186px;
    left: 310px;
    position: absolute;
    width: 40px;
    height: 40px;
  }
  .pay-thanhtoan{
    width: 250px;
    position: absolute;
   left: 50px;
   top:320px;
    align-items: center;
  }
  .sc-khungchuave
  {
    top: 200px;
    left: 160px;
    width: 1200px;
    height: 480px;
    position: absolute;
  }
  .sc-all
  {
    top: 250px;
    left: 280px;
    width: 960px;
    height: 360px;
    position: absolute;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .sc-detail
  {
    width: 250px;
    border-radius: 10px;
    background-color: white;
    margin-right: 20;
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-sizing: border-box;

  }
  .sc-alt
  {
    font-size: 18;
    color: black;
    margin-bottom: 10;
    font-weight: bold;
  }
  .sc-vecong
  {
    font-size: 16;
    color: #FFC226;
    margin-bottom: 10;
    font-weight: bold;
  }
  .sc-gach
  {
    color: black;
    margin-bottom: 10;
  }
  .sc-ngaysd
  {
    font-size: 15;
    width: 250px;
    margin-left: 30;
    color: rgb(41, 40, 40);
  }
  .sc-previousbtn {
    top: 400px;
    left: 60px;
    width: 50px;
    height: 50px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 3px 2px 0px rgba(222, 153, 89, 1) ;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }

  .sc-nextbtn {
    top: 400px;
    left: 1400px;
    width: 50px;
    height: 50px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 3px 2px 0px rgba(222, 153, 89, 1) ;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
  }
  .sc-last-button
  {
    top: 690px;
    left:500px;
    width: 500px;
    height: 60px;

    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .sc-taive
  {
    width: 200px;
    height: 50px;
    margin-right: 30;
  }
  .ticket-damsen
  {
    top: 100px;
    left: 200px;
    position: absolute;
    width: 150px;
  }
  .ticket-bupbe
  {
    top: 260px;
    width: 300px;
    height: 500px;
    position: absolute;
  }
  .ticket-4nguoi
  {
    top: 10px;
    left: 850px;
    width: 500px;
    position: absolute;
  }


 .ticket-girlthanhtoan
 {
   top: 50px;
   position: absolute;
   width: 250px;
   left: -200px;
 }
 .ticket-text1{
  top: 50px;
  left: 150px;
  position: absolute;
  width: 550px;
  font-size: 18px;
  font-family: nunito;
 }
 .sc-slv
 {
  top: 620px;
  left: 250px;
  position: absolute;
 }